[submodule "Libraries/Common"]
  path = Libraries/Common
  url = git@github.com:razum2um/Common.git
[submodule "theos"]
	path = theos
	url = git@github.com:theos/theos.git
[submodule "ldid"]
	path = ldid
	url = git@github.com:razum2um/ldid.git
