Package: me.razum2um.lastapp
Name: LastApp12
Version: 1:1.4.1
Architecture: iphoneos-arm
Description: Quickly switch to previous application.
Homepage: http://github.com/razum2um/LastApp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=lastappData
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Lance Fetters (ashikase) <support@ashikase.com>
Section: System
Depends: firmware (>=3.0), mobilesubstrate, libactivator (>=1.1.0), preferenceloader
Recommends: backgrounder
dev: ashikase
Sponsor: thebigboss.org <http://thebigboss.org>
Tag: purpose::extension
